@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&display=swap');

body {
   background: rgb(153,187,116);
   background: linear-gradient(90deg, rgba(153,187,116,1) 0%, rgba(190,190,190,0.86) 49%, rgba(153,187,190,1) 100%);
}
main {
   font-family: 'Bona Nova', serif;
   max-width: 1240px;
   margin: 0 auto;
   padding: 40px 15px;
   font-size: 17px;
}
main * {
   margin-bottom: 15px;
}
h2 {
   font-size: 30px;
   font-weight: 700;
}
.icons_block div {
   margin-bottom: 20px;
}
.icons_block img {
   margin-right: 10px;
}
.elements {
   background: url("../img/design/dotted_shape_1.png") 0 12px no-repeat, url("../img/design/dotted_shape.png") 77px no-repeat, url("../img/design/dotted_shape_2.png") 240px no-repeat, url("../img/design/oval.png") 350px no-repeat, url("../img/design/oval_1.png") 420px no-repeat, url("../img/design/shape.png") 500px no-repeat;
   height: 100px;
}
.main_img {
   max-width: 100%;
}
