@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}
.wrapper {
	overflow: clip;
	min-height: 100%;;
}
.page__container {
	max-width: 1270px;
	margin: 0 auto;
	padding: 30px 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 45px;
	column-gap: 30px;
}
.cards {
	display: flex;
	flex-direction: column;
	gap: 15px;
	flex: 0 0 393px;
}
.card__image img {
	max-width: 100%;
	border-radius: 5px;
}
.card__date {
	font-size: 12px;
	line-height: 1.6;
	color: #495057;
}
.card__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
}
.card__text {
	font-size: 12px;
	line-height: 1.6;
	color: #495057;
	flex-grow: 1;
}
.card__author {
	font-size: 12px;
	line-height: 1.6;
	color: #495057;
}
.card__author::before {
	content: "";
	display: block;
	background-color: #E5E5E5;
	height: 1px;
	width: 100%;
	margin-bottom: 15px;
}